<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guepardoapps.mediamirror"
    android:versionCode="97161227"
    android:versionName="0.9.7.161227" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="false"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity android:name="guepardoapps.mediamirror.view.Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="guepardoapps.mediamirror.services.ControlServiceStateService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.mediamirror.services.MainService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.mediamirror.services.RESTService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.mediamirror.services.TimeListenerService"
            android:enabled="true" />
        <service
            android:name="guepardoapps.mediamirror.rss.RssService"
            android:enabled="true" />
    </application>

</manifest>